<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Jost:wght@200&family=Nunito+Sans:ital,wght@0,200;1,600&display=swap" rel="stylesheet">
    <script type="text/javascript" src='/javascripts/main.js'></script>
    <title>Contact / Neu-Gier</title>
</head>
<body>
  <header>
        <div id="top_logo">
            <a href="/"><p>Neu-Gier</p></a>
        </div>
        <ul id="header_flex">
            <li>
                <a href="/works"><p>Works</p></a>
            </li>
            <li>
                <a href="/about"><p>About</p></a>
            </li>
            <li>
                <a href="/contact" class="header_heiglight"><p>Contact</p></a>
            </li>
        </ul>
        <div id="admin_logo">
            <a href="/admin"><p>Admin</p></a>
        </div>
  </header>

    <div class="contants_wrapper">
        <h2>Contact</h2>

        <p id="contact_name">Kiyohide Hayashi</p>
        <div class="icon_wrapper">
            <div onclick="pop_up()"><img src="/images/gmail.png"/></div>
            <div><a href="https://www.linkedin.com/in/kiyohidehayashi/"><img src="/images/linkedin.png" /></a></div>
            <div><a href="https://www.xing.com/profile/Kiyohide_Hayashi/cv"><img src="/images/xing.png"  /></a></div>
            <div><a href="https://github.com/kiyokiyo2929"><img src="/images/github.png"/></a></div>
            <div><a href="https://www.instagram.com/minimal_photo_/"><img src="/images/instagram.png"/></a></div>
        </div>
    </div>
  
  <footer><p>Neu-Gier</p></footer>
</body>
</html>