<div class="contants_wrapper">
    <h2>Admin Sign-Up (Administrator Only)</h2>
    
    <form action="/admin/signup" method="POST">
        <div class="login_sign_input">
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="username"/>
        </div>
        <div class="login_sign_input">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="password"/>
        </div>

        <button class="sign_btn">Admin</button>
    </form>
</div>

