<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top / Neu-Gier</title>
</head>
<body>
    <div id="top_title_wrapper">
        <div id="top_text1">
            <p>design</p>
        </div>
        <div id="top_text2">
            <p>programming</p>
        </div>
    </div>

</body>
</html>

   