<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Jost:wght@200&family=Nunito+Sans:ital,wght@0,200;1,600&display=swap" rel="stylesheet">
    <script type="text/javascript" src='/javascripts/main.js'></script>
    <title>{{page_name}}/ Neu-Gier</title>
    <meta name="description" content="This page is to introduce my programing work. I'm Kiyohide Hayashi. I'm Japanese. I'm a full stack developer. I live in Berlin. I can use JavaScript / React.js / Next.js / Node.js / Express.js and MongoDB."/>
</head>
<body>
  <header>
    
        <div id="top_logo">
            <a href="/"><p>Neu-Gier</p></a>
        </div>
        <ul id="header_flex">
            <li>
                <a href="/works"><p>Works</p></a>
            </li>
            <li>
                <a href="/about"><p>About</p></a>
            </li>
            <li>
                <a href="/contact"><p>Contact</p></a>
            </li>
        </ul>
        <div id="admin_logo">
            <a href="/admin"><p>Admin</p></a>
        </div>

  </header>
      {{{ body }}}
  <footer><p>Neu-Gier</p></footer>
</body>
</html>