<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Jost:wght@200&family=Nunito+Sans:ital,wght@0,200;1,600&display=swap" rel="stylesheet">
    <script type="text/javascript" src='/javascripts/main.js'></script>
    <title>About / Neu-Gier</title>
</head>
<body>
  <header>
    
        <div id="top_logo">
            <a href="/"><p>Neu-Gier</p></a>
        </div>
        <ul id="header_flex">
            <li>
                <a href="/works"><p>Works</p></a>
            </li>
            <li>
                <a href="/about" class="header_heiglight"><p>About</p></a>
            </li>
            <li>
                <a href="/contact" ><p>Contact</p></a>
            </li>
        </ul>
        <div id="admin_logo">
                <a href="/admin"><p>Admin</p></a>
        </div>

  </header>

    <div class="contants_wrapper">
        <h2>About</h2>

        <div id="about_description">
                     <p id="first_description">I'm Kiyohide Hayashi.</p>
                     <p>I'm Japanese.</p>
                     <p>I'm a full stack developer.</p>
                     <p>I live in Berlin.</p>
                     <p>I can speak Japanese and English.</p>
                     <p>I can use JavaScript / React.js / Next.js / Node.js / Express.js and MongoDB.</p>
                     <p>I like contemporary art and design.</p>
        </div>
    </div>


  
  <footer><p>Neu-Gier</p></footer>
</body>
</html>